<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaMapper">

	<!-- qna 게시물 목록 조회 -->
	<select id="qnaList" resultType="com.prac.qna.VO.QnaListVO">
		SELECT 
				Q_NUM AS QNUM
			  , Q_TITLE AS QTITLE
			  , Q_CONTENT AS QCONTENT
			  , Q_WRITER AS QWRITER
			  , Q_REGDATE AS QREGDATE
			  , Q_VIEWCOUNT AS QVIEWCOUNT
		FROM 
				TBL_QNA
		ORDER BY 
				Q_NUM DESC
	</select>
	
	<insert id="qnaWrite" parameterType="com.prac.qna.VO.QnaListVO">
		INSERT INTO TBL_QNA(
							 Q_NUM
						   , Q_TITLE
						   , Q_CONTENT
						   , Q_WRITER
						  )
					VALUES(
							TBL_QNA_SEQ.NEXTVAL
						  , #{qTitle}
						  , #{qContent}
						  , #{qWriter}
						  )
	</insert>
	
	<select id="qnaDetail" parameterType="int" resultType="com.prac.qna.VO.QnaListVO">
		SELECT 
				Q_NUM AS QNUM
			  , Q_TITLE AS QTITLE
			  , Q_CONTENT AS QCONTENT
			  , Q_WRITER AS QWRITER
			  , Q_REGDATE AS QREGDATE
			  , Q_VIEWCOUNT AS QVIEWCOUNT
		FROM 
				TBL_QNA
		WHERE 
				Q_NUM = #{qNum}
	</select>
	
</mapper>